{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
<!--{% set pageCriticalStyles = ['css/page.css'] %}-->

{% block content %}

<section class="au-body">
  <div class="container">
<article>
  {% include "partials/page-header.html" %}
  
    {{ content | safe }}
  </div>
  </section> 
      
    
  </div>
  </section>
  <section class="au-body au-body--alt">
    <div class="container">
    <div class="au-callout au-display-lg">{{ summary }}</div>
    <section>
      <div class="col-md-12">
        <ul class="au-card-list au-card-list--matchheight">
          {% for item in collections.educators %}
            <li class="col-md-3 col-xs-12">
                <div class="au-card au-body au-card--clickable">
                  <!--<img class="au-responsive-media-img" src="https://designsystem.gov.au/assets/img/placeholder/600X260.png" alt />-->
                <div class="au-card__inner">
                    <div class="au-card__title">
                            <h3><a class="au-card--clickable__link" href="{{ item.url }}">{{ item.data.title }}</a></h3>
                    </div>
                    <p>{{ item.data.summary}}</p>
                    </div>
                    <div class="au-card__footer au-body au-body">
                      <p><strong>Closing date: </strong>{{ item.data.closingDate}}</p>
                  </div>
                              </div>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>    
  </section>
  
</article>
{% endblock %}
