{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

    <style>{% include "css/critical.css" %}</style>

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
  </head>
      
      {% include "partials/site-head.html" %}

      <main tabindex="-1" id="main-content" class="au-grid">
        

    <!-- Original Template -->    
        <section class="au-body">
     
        <div class="container-fluid">
          <div class="row">
         <!-- <div class="col-md-9">  -->
        {% block content %}{% endblock %}
          </div>
        </div>
        </div>
        </div>
        </section>
		
      </main>

      <!--FOOTER -->
<div class="au-grid">
      <footer class="au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-12" aria-label="footer">
				<ul class="au-link-list au-link-list--inline">
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="/help">Need Help?</a></li>
					<li><a href="/accessibility">Accessibility</a></li>
				</ul>
			</nav>
			<section class="col-sm-12">
        
				<div class="au-footer__end">
          <p>
            Engagement Hub by <a href="https://github.com/govau/design-system-starter/blob/master/LICENSE" rel="external">The Social Deck</a>
          </p>
					<p>	© Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the <a href="https://github.com/govau/design-system-starter/blob/master/LICENSE" rel="external">MIT license</a>
					</p>
				</div>
			</section>
    </div>
  </div>
</footer>
  </body>
</html>
