{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/home.css'] %} 

{% block content %}
<main class="au-grid">
    
    <div class="container">
      <h1>{{ title }}</h1>
        <p>{{ summary }}</p>
      </div>
      
    </section>

<!--Papers-->
<section class="au-body au-body--alt">
  <div>
      <div class="container" id="submissions">
      <h2>Papers</h2>
      <p>You can respond to questions in our discussion papers by making a submission.</p>
      <div>
      {% include "partials/papers-list.html" %}
    </div>
</section>   

<!--Surveys-->
    <section class="au-body au-body" id="survey">
  <div>
      <div class="container" id="survey">
      <h2>Surveys and submissions</h2>
      <p>We have a number of surveys available focusing on different aspects of the Skills Reform. Select the survey that best describes your interest or role in VET.</p>
      <div>
      {% include "partials/survey-list.html" %}
    </div>
</section>

<!--Workshops-->
<section class="au-body au-body--alt" id="workshops">
  <div>
      <div class="container" id="workshops">
      <h2>Digital workshops and webinars</h2>
      <p>Attend one of our open, online consultation events. Digital workshops and webinars will be held to get feedback from the public and specific stakeholder groups about the reforms in the VET system.</p>
      </div>
      <div>
      {% include "partials/workshops-list.html" %}
    </div>
  </div>
</section>
<p>Invitation-only workshop and meeting events are also being held to seek views from specific stakeholder groups. You can express your interest in attending other events as they become available.</p>
</main>
{% endblock %}



<!--Resources
<section class="au-body">
  <div>
      <div class="container">
      <h2>Resources</h2>
      <div>
      {% include "partials/survey-list.html" %}
    </div>
</section>-->
      

