{% extends "layouts/base.html" %}

<!--{% set pageCriticalStyles = ['css/home.css'] %} -->

{% block content %}
<div class="au-grid">
<div class="au-body">
<div class="container">
<div class="row">
    <div class="col-xs-12 col-md-9">
      <img
      class="au-responsive-media-img"
      src="{{ intro.image }}"
      alt="{{ intro.imageAlt }}" width="1228" height="500"/>
      </div>
    <div class="col-xs-12 col-md-3">
<!--Get involved CTA-->
  <section class="au-callout au-callout--dark">
    <h2 class="au-display-lg">Get involved</h2>   
    <p>Your opportunity to have your say on Skills Reform</p>
<a href="/get-involved" class="au-btn au-btn--dark au-display-md">Get involved</a>
</section>

<!--Sign-up CTA-->
  <section>
      {% set ctaContent = primaryCTA %} 
    {% include "partials/cta.html" %} 
  </section>  
    </div>
    </div>
    
  </div>
</section>
</div>

<section class="au-body">
  <div class="container">
    <div class="col-xs-12 col-md-12">
      <h2>Skills Reform Consultations </h2>
      <p>To support the future growth and prosperity of our nation, the Australian Commonwealth, State and Territory governments are committed to improving the vocational education and training (VET) system through <a href='http://www.dese.gov.au/skills-reform'>Skills Reform</a>.</p>
        <p>We’re building better qualifications, supporting Registered Training Organisations (RTOs) to deliver high-quality training, and improving industry and employer engagement in Australia’s VET sector.</p>
      <div class="au-callout au-display-lg">{{ intro.summary }}</div>
      <div class="col-md-8 col-xs-12">{% include "partials/reform-list.html" %}</div>
      <div class="col-xs-12 col-md-12">
      <p>{{ content | safe }}</p>
      </div>
 
     
</section>




<!--Audiences-->
<section class="au-body au-body--alt">
  <div>
      <div class="container">
      <h2>We want to hear from</h2>
      </div>
      {% include "partials/audience-list.html" %} 
    </div>
</section>


<!--How consulting-->
<section class="au-body au-body--dark">
  <div>
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <h2>Get involved</h2>
      <p>We want to hear from you about reforms to the VET system. During the consultation periods, there will be a range of ways you can provide input to help shape the reforms. </p>
    </div>
      <div class="col-xs-12 col-md-9">
        {% include "partials/engagement-list.html" %} 
      </div>
    </div>
  </div>
  </div>

</section>
</section>

<!--background-->
<section class="au-body">
    <div class="container">
      <h2>Background</h2>
      <p>Australia’s VET system drives the skilled workforce which supports our economy. You can visit the <a href='https://www.dese.gov.au/skills-reform'>Skills Reform</a> 
        page on the Department of Education, Skills and Employment website for more information. The Commonwealth and all state and territory governments have signed the
         <a href='https://www.pmc.gov.au/resource-centre/domestic-policy/heads-agreement-skills-reform'>Heads of Agreement for Skills Reform</a> which sets out national 
         reforms for the VET sector. The priorities in the agreement are aimed at ensuring the VET system is delivering for students and employers and equipping Australians 
         with the skills they need for emerging jobs.</p>
      <p>This consultation process is a recognition of the need for a truly national approach to Skills Reform. This will continue the work undertaken through reviews and 
        consultations over the past 18 months, to further refine the best approach for Australia’s VET system.</p>
      

    </div>

</section>


{% endblock %}


<!--

{% set ctaContent = primaryCTA %} 
{% include "partials/cta.html" %} 

</div>

{% include "partials/featured-work.html" %} 
{% include "partials/studio-feed.html" %} 

{% set ctaContent = cta %} 
{% include "partials/cta.html" %} 



