{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
<!--{% set pageCriticalStyles = ['css/page.css'] %}-->

{% block content %}


  <div class="container">
    <nav class="au-breadcrumbs" aria-label="breadcrumb">
      <ul class="au-link-list au-link-list--inline">
        <li><a href="/">Home</a></li>
        <li><a href="/skills-reform/">Skills Reform areas</a></li>
        <li>{{ title}}</li>
      </ul>
    </nav>
<article>
  {% include "partials/page-header.html" %}
  <section class="au-body">
    
    <div class="au-callout au-display-lg">{{ summary }}</div>
    <section>
      <div class="col-md-12 au-callout au-callout--alt">
        <ul class="au-card-list au-card-list--matchheight">
          {% for item in collections.industry %}
            <li class="col-md-3 col-xs-12">
                <div class="au-card au-body au-card--clickable">
                  <!--<img class="au-responsive-media-img" src="https://designsystem.gov.au/assets/img/placeholder/600X260.png" alt />-->
                <div class="au-card__inner">
                    <div class="au-card__title">
                            <h3><a class="au-card--clickable__link" href="{{ item.data.link }}">{{ item.data.title }}</a></h3>
                    </div>
                    <p>{{ item.data.summary}}</p>
                    <p><strong>{{ item.data.datetype}}</strong>{{ item.data.closingDate}}</p>
                    </div>
                    <div class="au-card__footer au-body au-body">
                     
                      <a href="{{ item.data.link }}" class="au-btn au-btn--block">
                        {{ item.data.action}}
                      </a>
                  </div>
                              </div>
            </li>
            {% endfor %}
            <!--Submission-->
            <li class="col-sm-3 col-xs-6">
              <div class="au-card au-body au-body--dark au-card--clickable">
                <!--<img class="au-responsive-media-img" src="https://designsystem.gov.au/assets/img/placeholder/600X260.png" alt />-->
              <div class="au-card__inner">
                  <div class="au-card__title">
                          <h3><a class="au-card--clickable__link" href="https://employment.au1.qualtrics.com/jfe/form/SV_8e0QN4PAwdaKssJ">Submit a response</a></h3>
                  </div>
                  <p>Submit a response to the discussion paper on Improving Industry Engagement and Reforming Qualifications in VET.</p>
                  <p><strong>Closing date: </strong>12pm AEDT, 1 March 2021</p>
                  <div class="au-card__footer au-body au-body--dark">
                  <a href="https://employment.au1.qualtrics.com/jfe/form/SV_8e0QN4PAwdaKssJ" class="au-btn au-btn--dark">submit</a>
                </div>
                </div>
                  
                            </div>
          </li>
        </ul>
      </div>
    </div>    
  </section>
  <section class="au-body">
    <div class="container">
    {{ content | safe }}
  </div>
  </section> 
      
    
  </div>
  </section>

  
</article>
{% endblock %}
