{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
<!--{% set pageCriticalStyles = ['css/page.css'] %}-->

{% block content %}
  <div class="container au-body">
    
    {% include "partials/page-header.html" %}
<section>
  <p>{{ summary }}</p>
  
</section>
  <section>
    <div class="container">
     <p>{% include "partials/resources-list.html" %}</p>
    </div>
    </section>
  </div>

  <section>
    <div class="container">
    <h2>Papers</h2>
  
  {% include "partials/papers-list.html" %}
  </div>
    </section>
  

{% endblock %}
