<section class="au-body au-body--alt">
  
    <div>
        <div class="container">
    {% if postListHeadline %}
    <h2>
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div class="row">
      <ul class="au-card-list au-card-list--matchheight au-card--shadow">
        {% for item in collections.audiences %}
          <li class="col-sm-4 col-xs-12">
              <div class="au-card">
                <img class="au-responsive-media-img" src="{{ item.data.image }}" alt="{{ item.data.imagealt }}" />
              <div class="au-card__inner">
                  <div class="au-card__title">
                          <h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
                  </div>
                  <p>{{ item.data.summary}}</p>
                  <p>{{ item.data.tags}}</p>
              </div>
          </div>
          </li>
          {% endfor %}
      </ul>
  </div>
        </div>
    </div>
</div>
</section>





 
      <!-- Original code
        
        <ul class="au-link-list au-keyword-list au-keyword-list--dark">
        {% for item in postListItems %}
        <li>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
          <p>{{ item.data.summary}}</p>
          <p>{{ item.data.tags}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
