{% set ctaPrefix = cta %}

{% if ctaContent %} 
  {% set ctaPrefix = ctaContent %}
{% endif %}

            <!----embed form--->   
                 
            <section class="au-callout">
                  <h2>Stay up to date</h2>   
                  <p>News and opportunities to get involved in Skills Reform </p>
      
              <a href="https://employment.au1.qualtrics.com/jfe/form/SV_3U9IuSJvxhwlYcB" class="au-btn au-display-lg">Sign-up for updates</a>
              
              </div>
              </div>
              
              <!--embed form end --->