<section class="au-body">
  
        <div class="container"></div>
    {% if postListHeadline %}
    <h2>
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div class="row">
      <ul class="au-card-list au-card-list--matchheight">
        {% for item in collections.reforms %}
          <li class="col-sm-4 col-xs-12">
              <div class="au-card">
                <img class="au-responsive-media-img" src="{{ item.data.image }}" alt ="{{ item.data.imagealt }}" />
              <div class="au-card__inner">
                  <div class="au-card__title">
                          <h3 class="au-display-md"><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
                  </div>
                  <p>{{ item.data.summary}}</p>
              </div>
          </div>
          </li>
          {% endfor %}
      </ul>
  </div>
</section>

