<section>
<div id="survey-list">
    {% if postListHeadline %}
    <h2>
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div class="row">
      <ul class="au-card-list au-card-list--matchheight">
        {% for item in collections.survey %}
          <li class="col-sm-3 col-xs-6">
              <div class="au-card au-card--clickable">
                <img class="au-responsive-media-img" src="https://designsystem.gov.au/assets/img/placeholder/600X260.png" alt />
              <div class="au-card__inner">
                  <div class="au-card__title">
                          <h2><a class="au-card--clickable__link" href="{{ item.url }}">{{ item.data.title }}</a></h2>
                  </div>
                  <p>{{ item.data.summary}}</p>
                  </div>
                  <div class="au-card__footer au-body au-body--alt">
                    <p><strong>Closing date: </strong>{{ item.data.closingDate}}</p>
                </div>
                            </div>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>
</section>

      <!-- Original code
        
        <ul class="au-link-list au-keyword-list au-keyword-list--dark">
        {% for item in postListItems %}
        <li>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
          <p>{{ item.data.summary}}</p>
          <p>{{ item.data.tags}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
